@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);


body {
  background: whitesmoke;
  font-family: "Source Sans Pro", sans-serif;
  overflow-y: hidden;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  height: 100vh;
}
.profile_image {
  border-radius: 50%;
  object-fit: cover;
  width: 10em;
  height: 10em;
}
.profile_description {
  font-size: 1.2em;
  text-align: center;
  color: rgb(149, 149, 149);
  margin-top: 0em;
}
.github_link {
  color: #148b7b;
}
