@font-face {
    font-family: Minecraft;
    src: url("https://minecraft.fandom.com/media/hydra/fonts/minecraft.ttf")
        format("truetype"),
      url("https://minecraft.fandom.com/media/hydra/fonts/minecraft.woff")
        format("woff");
  }

.swal2-container {
    font-family: Minecraft;
  }